---
import Feature from '../components/Feature.astro'

const cards = {
  list: [
    {
      icon: 'mdi:bullseye-arrow',
      title: 'Tailor-Made AI Solutions',
      content:
        'Every business is unique. Our custom AI workflows are designed to address your specific challenges, providing targeted solutions that drive real results.',
    },
    {
      icon: 'mdi:lock-alert',
      title: 'AI Security You Can Trust',
      content:
        'Our AI solutions feature robust defenses against prompt injection and data breaches, ensuring your sensitive information stays secure throughout your AI journey.',
    },
    {
      icon: 'mdi:robot',
      title: 'Let AI handle the repetitive work',
      content:
        'Let AI handle the repetitive work. Our intelligent automation services free up your team to focus on high-value activities, boosting job satisfaction while reducing errors.',
    },
  ],
}
---

<section id="list-cards-section" class="my-64">
  <div class="container">
    <h2 class="mb-16 text-6xl">What do we do?</h2>
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
      {
        cards.list.map((card) => (
          <Feature icon={card.icon} title={card.title}>
            {card.content}
          </Feature>
        ))
      }
    </div>
  </div>
</section>
