---
import ContentMedia from '../components/ContentMedia.astro'

const contents = [
  {
    title: 'Scalable AI Integrations',
    content:
      'Grow with AI. Implement scalable AI solutions that grow with your business, ensuring you stay ahead of the competition and continuously improve your operations.',
    image: '/content/laptop-mann.webp',
  },
  {
    title: 'Custom Customer Chatbots',
    content:
      '24/7 Customer Support. Implement chatbots that handle customer inquiries, provide instant responses, and enhance user experience around the clock.',
    image: '/content/chat.webp',
  },
  {
    title: 'Personalized Automation Solutions',
    content:
      'Receive bespoke automation solutions designed to meet your specific business needs, ensuring maximum efficiency and ROI.',
    image: '/content/robot-arm.webp',
  },
]
---

{
  contents.map((content, index) => (
    <ContentMedia imgSrc={content.image} reverseImg={index % 2 == 0}>
      <h2> {content.title}</h2>
      <p class="text-2xl">{content.content}</p>
    </ContentMedia>
  ))
}
