---
import Counter from '../components/Counter.astro'
---

<section id="row-counter-section" class="mb-32 mt-64">
  <!--
  <div class="container">
    <h2 class="mb-16 text-6xl">Counters</h2>
    <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
      <Counter count="520" title="Stars" sub="On GitHub" />
      <Counter count="17" title="Accessible" sub="Components" />
      <Counter count="500" title="Commits" sub="Merged" />
      <Counter count="18+" title="Months" sub="Since launch" />
    </div>
  </div>
  -->
</section>
